<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="renderer" content="webkit" />
		<meta name="force-rendering" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title><%= title %></title>

		<!-- <% if(appEnv==="pro") { %>
			<script type="text/javascript">
				// 错误监控相关代码
				console.log('hi')
			</script>
		<% } %>
		<% for (var i in cdn&&cdn.js) { %>
		<script  src="<%= cdn.js[i] %>"></script>
		<% } %> -->
		<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ant-design-vue@2.0.0-rc.9/dist/antd.min.css">
		<script src="https://cdn.jsdelivr.net/npm/pinia@2.0.11/dist/pinia.iife.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/ant-design-vue@2.0.0-rc.9/dist/antd.js"></script> -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@3.2.31/dist/vue.global.min.js" ></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-router@4.0.13/dist/vue-router.global.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuex@4.0.2/dist/vuex.global.min.js"></script> -->
		<!-- <script src="https://esm.sh/vue@3.0.6" type="module"></script>
		<script src="https://esm.sh/vuex@4.0.2" type="module"></script>
		<script src="https://esm.sh/vue-router@4.0.10" type="module"></script> -->
    <script type="module" crossorigin src="/static/index.41d2e4e2.js"></script>
    <link rel="modulepreload" href="/static/@vue.0aef26c7.js">
    <link rel="modulepreload" href="/static/vue.5d082aef.js">
    <link rel="modulepreload" href="/static/vue-router.b0bcfb65.js">
    <link rel="modulepreload" href="/static/vuex.a7230e05.js">
    <link rel="modulepreload" href="/static/lib-flexible.c3953932.js">
    <link rel="stylesheet" href="/static/index.d1a0ea92.css">
    <script type="module">!function(){try{new Function("m","return import(m)")}catch(o){console.warn("vite: loading legacy build because dynamic import is unsupported, syntax error above should be ignored");var e=document.getElementById("vite-legacy-polyfill"),n=document.createElement("script");n.src=e.src,n.onload=function(){System.import(document.getElementById('vite-legacy-entry').getAttribute('data-src'))},document.body.appendChild(n)}}();</script>
  </head>
  <body class="bg-white">
    <div id="app" class="bg-white"></div>
    
    <script nomodule>!function(){var e=document,t=e.createElement("script");if(!("noModule"in t)&&"onbeforeload"in t){var n=!1;e.addEventListener("beforeload",(function(e){if(e.target===t)n=!0;else if(!e.target.hasAttribute("nomodule")||!n)return;e.preventDefault()}),!0),t.type="module",t.src=".",e.head.appendChild(t),t.remove()}}();</script>
    <script nomodule id="vite-legacy-polyfill" src="/static/polyfills-legacy.2a43f8c9.js"></script>
    <script nomodule id="vite-legacy-entry" data-src="/static/index-legacy.8f17b93b.js">System.import(document.getElementById('vite-legacy-entry').getAttribute('data-src'))</script>
  </body>
</html>
